:root {
    --first-color-text: #000;
    --second-color-text: #4285f4;
    --color-white: white;
    --iris: #4d5ae5;
    --blue-color: #404bbf;
    --studio-class: #f4f4fd;
    --ourteam-section: #ffffff;
    --color-body: #434455;
    --font-color: #2e2f42;
    --border-style: #e7e9fc;
}

.logo-class:hover,
.logo-class:focus {
    color: var(--blue-color);
}

.li-links:hover,
.li-links:focus {
    color: var(--blue-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-body);
    line-height: 1.6;
    background-color: var(--color-white);
}

header {
    background-color: var(--color-white);
}

button {
    background-color: var(--iris);
    color: var(--color-white);
}

.link {
    text-decoration: none;
}

.style-button:hover,
.style-button:focus {
    border: 1px solid transparent;
}

button:hover,
button:focus {
    background-color: var(--blue-color);
}

.studio-class {
    color: var(--studio-class);
}

.ourteam-section {
    background-color: var(--ourteam-section);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    font-weight: 800;
}

.font {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 24px;
    color: var(--font-color);
}

.studio-color {
    color: var(--font-color);
}

.list {
    list-style: none;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: var(--color-body);
    display: flex;
    justify-content: center;
    gap: 24px;
}

.link-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-decoration: none;
}

.adress-style {
    font-style: normal;
}

.section-details {
    background-color: var(--font-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.top-class {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button-class {
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--iris);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.second-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--font-color);
}

.sol-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-align: center;
}

.card-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-color);
}

.point-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-color);
}

.footer-acapit {
    line-height: 1.5;
    color: var(--studio-class);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.p-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
}

.sec-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--font-color);
}

.last-section {
    background-color: var(--studio-class);
    padding: 120px 0 120px;
}

.last-class {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--font-color);
}

.p-describes {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
    text-align: center;
}

.page-footer {
    color: var(--font-color);
}

.footer-studio {
    color: var(--studio-class);
}

.page-footer {
    line-height: 1.5;
    color: var(--studio-class);
    letter-spacing: 0.02em;
}

.studio-head {
    color: var(--font-color);
}

.address-details {
    font-style: normal;
    padding: 24px 0;
}

.logo-class {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--font-color);
}

.li-links {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
    font-style: normal;
}

.link-details {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
}

.portfolio-footer {
    background-color: var(--font-color);
    padding: 100px 0 100px;
}

.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-color {
    color: var(--studio-class);
}

.style-button:focus,
.style-button:hover {
    color: var(--color-white);
}

.style-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--studio-class);
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--border-style);
    border-radius: 4px;
}

.class-port {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
}

.highlight {
    color: var(--second-color-text);
}

.highlight-web {
    color: var(--studio-class);
}

.header-style {
    border-bottom: 1px solid var(--border-style);
}

img {
    display: block;
}

.container-img {
    display: flex;
    gap: 332px;
}

.ul-style {
    gap: 40px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.logo-details {
    margin-right: 76px;
}

.menu-style {
    display: flex;
    gap: 40px;
}

.last-li {
    margin-right: 0;
}

.menu-top {
    padding: 24px 0 24px;
    display: inline-block;
}

.contacts-details {
    display: flex;
}

.second-section {
    padding: 120px 0 120px;
}

.list-class {
    display: flex;
    gap: 24px;
}

.list-strategy {
    width: calc((100% - 72px) / 4);
}

.class-strategy {
    margin-bottom: 8px;
}

.third-section {
    padding-bottom: 120px;
}

.sec-div {
    margin-bottom: 72px;
}

.third-ul {
    display: flex;
    gap: 24px;
}

.first-point {
    width: calc((100% - 48px) / 3);
}

.main-last {
    margin-bottom: 72px;
}

.employee {
    padding: 32px 0;
}

.header-class {
    border-bottom: 1px solid var(--border-style);
    display: flex;
}

.div-container {
    display: flex;
}

.nav-style {
    display: flex;
    align-items: center;
}

.logo-style {
    margin-right: 76px;
}

.li-class {
    padding: 24px 0 24px;
}

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.li-styles {
    width: calc((100% - 48px) / 3);
}

.address-style {
    gap: 40px;
}

.ul-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.app-info {
    padding: 32px 16px;
    border: 1px solid var(--border-style);
    border-top: none;
}

.top-concept {
    margin-bottom: 8px;
}