body {
    font-size: 'Roboto', sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.studio-color {
    color: #2E2F42;
}

.logo {
    color: #4D5AE5;
}

ul {
    list-style-type: none;
}


.navigation-links .link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation-links .link:hover {
    color: #404BBF;
}

.navigation-links .link:active {
    color: #404BBF;
}


.address-details {
    font-style: normal;
}

.li-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.link:hover,
.li-link:hover {
    color: #404BBF;
}
.link:focus,
.li-link:focus {
    color: #404BBF;
}
.link:active,
.li-link:active {
    color: #404BBF;
}

.section-details {
background-color: #2E2F42;
}


.top-class-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.button-class {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    cursor: pointer;
}

.button-class:hover,
.button-class:active,
.button-class:focus {
    background-color: #404BBF;
}


.philosophy-header-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
}

.sol-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-card-background {
    background-color: #FFFFFF;
}

.p-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.team-section {
    background-color: #F4F4FD;
}

.ourteam-section {
    background-color: #FFFFFF;
}


.footer-portfolio {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-white {
    color: #F4F4FD;
}

.acapit-footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}